PORT=3000
DB_CONNECT=mongodb://localhost:27017/LOCOMOV
DB_ATLAS=mongodb+srv://JonasTB:passwordstrong123@cluster0.yihet.mongodb.net/myFirstDatabase?retryWrites=true&w=majority
SECRET=4df9d403ce4058abf18b29553979b59f
MAILER_USER=locomovunifor@gmail.com
MAILER_PASS=locomovunifortcc#2022
RESET_URL=https://web-admin-locomoov.herokuapp.com/forgot_password/